body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    position: relative;
}

#timer-canvas {
    width: 100%;
    height: 100%;
}

#duration-control {
    position: absolute;
}

#duration-control label {
    color: white;
}
